<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/style.css">
    <title>The Farm</title>
    </head>
    <body>
      <h1>Welcome to the Farm!</h1>
      <div id="farm" align="center">  
        
        <!-- http://stackoverflow.com/questions/8772432/how-to-embed-a-link-inside-an-image -->

      <p>
<!--        <img src="https://cdn.gomix.com/dea3f25e-1334-4461-8785-002d63e3258e%2Ffarm.jpg" width="75%" usemap ="#farmmap">
        <map name="farmmap">
          <area shape="rect" coords="0,0,900,900" href="/dogs" alt="Dog" />
        </map>
        <canvas id="rectangle" width="100" height="200" style="border:1px solid #000000;"></canvas>-->
        <div class="farm">
          <a id="farm-link" href="/dogs"></a>
          <p>FARM</p>
        </div>
      </p>
      <p>This is the farm where the animals live</p>
      </div>
      <p><a href="/">Back to Home</a></p>
    </body>
  
</html>
